<!DOCTYPE html>
<html ng-app="myApp" ng-cont>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Apocalyptica</title>
    <script type='text/javascript' src='angular.min.js'></script>
    <script type='text/javascript' src='d3.v3.min.js'></script>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body ng-controller="myController" class="ng-cloak">
    <section>
        <div class="outline">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="50%">
                        {{ mapName }}
                    </td>
                    <td width="50%" align="right" class="navigator">
                        {{ coordinates }}
                        {{ compass }}
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="outline" width="500" rowspan="2" valign="middle">
                    <svg width="500" height="300"><polygon class="left-front" points="0,0 0,300 60,270 60,30"></polygon><polygon class="left-mid" points="60,30 60,270 120,240 120,60"></polygon><polygon class="left-back" points="120,60 120,240 180,210 180,90"></polygon><polygon class="right-front" points="440,30 440,270 500,300 500,0"></polygon><polygon class="right-mid" points="380,60 380,240 440,270 440,30"></polygon><polygon class="right-back" points="320,90 320,210 380,240 380,60"></polygon><polygon class="background-closed-back" points="180,90 180,210 320,210 320,90"></polygon><text class="center-label" x="250" y="154" text-anchor="middle">[ ladder ]</text></svg>
                </td>
                <td class="outline" valign="top">
                    <div class="shim" id="storyText" ng-bind="storyText"></div>
                </td>
            </tr>
            <tr>
                <td class="outline" valign="top">
                    <div class="actions shim" id="actionItems">
                        <table width="100%">
                            <tbody>
                                <tr ng-repeat="row in actionItems">
                                    <td ng-bind="row.left.key"></td>
                                    <td ng-bind="row.mid.key"></td>
                                    <td ng-bind="row.right.key"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="outline" valign="top">
                    <div class="shim" id="feedbackText" ng-bind="feedbackText"></div>
                </td>
            </tr>
            <tr>
                <td class="outline" valign="top">
                    <form ng-submit="say()">
                        &gt; <input type="text" name="commandPrompt" id="commandPrompt" ng-model="commandPrompt" autofocus/>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="outline" colspan="2" valign="top">
                    <div class="shim" id="partyList">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td width="15">#</td>
                                    <td width="">Character Name</td>
                                    <td width="160">HP</td>
                                    <td width="50">Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in partyMembers">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.hp }}</td>
                                    <td>{{ row.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </section>

    <script type='text/javascript'>
        angular
            .module('myApp', [])
            .controller('myController',
                ['$scope',
                    function($scope){
                        $scope.commandPrompt = "";

                        $scope.mapName = "Zombie Shopping Mall";
                        $scope.gridsize = 2;

                        $scope.coordinates = [0,0];
                        $scope.compassOptions = ['n', 'e', 's', 'w'];
                        $scope.compass = $scope.compassOptions[2];

                        var constants = {
                            collision: "Ouch! Collision detected."
                        };

                        var availableActions = {

                            // Map Actions
                            'forward': {
                                key: "forward", context: ["map"], feedback: "Slowly, you take a few steps forward", hotkey: "w",
                                callback: "move", args: { direction: 'forward'}
                            },
                            'left': {
                                key: "left", context: ["map"], feedback: "You turn and face the left", hotkey: "a",
                                callback: "move", args: { direction: 'left'}
                            },
                            'right': {
                                key: "right", context: ["map"], feedback: "You turn and face the right", hotkey: "d",
                                callback: "move", args: { direction: 'right'}
                            },
                            'search': {
                                key: "search", context: ["map"], feedback: "You search the area", hotkey: "q",
                                callback: "search", args: { item: 'area'}
                            },
                            // the "e" key is also very desirable - think of a good action here
                            'camp': {
                                key: "camp", context: ["map"], feedback: "You make a fire, and set up your camp.", hotkey: "c",
                                callback: "timeout", args: { length: 4 }
                            },
                            'map': {
                                key: "map", context: ["map"], feedback: "You unfold a plain, paper map containing markings.", hotkey: "m",
                                callback: "view", args: {}
                            },
                            'inventory': {
                                key: "inventory", context: ["map"], feedback: "You check your groups' bags.", hotkey: "i",
                                callback: "view", args: {}
                            },

                            // Item Actions
                            'examine': {
                                key: "examine", context: ["item"], feedback: "You check out the item.", hotkey: "e",
                                callback: "query", args: {}
                            },

                            // Combat Actions
                            'fight': {
                                key: "fight", context: ["combat"], feedback: "You yell 'time for a fight!!'", hotkey: "f",
                                callback: "fight", args: {}
                            },


                            // Easter Eggs
                            'dance': {
                                key: "dance", context: ["map"], feedback: "Without hestitation, you shamelessly dance in front of everyone.", hotkey: null,
                                callback: "updateFeedback", args: null
                            }
                        };

                        var quip = [
                            "Huh? What was that?",
                            "I don't get it.",
                            "Whatever did you mean?",
                            "Hmmm, I don't think you typed that right.",
                            "I didn't recognize your request."
                        ];

                        $scope.actions = {};
                        $scope.actions.map = [
                            { left: availableActions.forward, mid: availableActions.search },
                            { left: availableActions.left, mid: availableActions.camp },
                            { left: availableActions.right, mid: availableActions.map },
                            { left: null, mid: availableActions.inventory }
                        ];

                        $scope.actions.item = [
                            { left: availableActions.examine,  mid: null }
                        ];

                        $scope.actions.combat = [
                            { left: availableActions.fight }/*,
                            { left: 'spell' },
                            { left: 'use' },
                            { left: 'run' },*/
                        ];

                        $scope.partyMembers = [
                            { name: "Burt Reynolds", hp: 100, status: "alive" }
                        ];

                        $scope.availableItems = {
                            '0001': { label: "treasure chest", contents: ['apple','coins','toothpick'] }
                        };

                        // H shaped layout
                        $scope.mapLayout = [
                            [
                                {
                                    moves: ['s'],
                                    storyText: "You awake from a hazy slumber. Ahead of you is a dimly lit hallway"
                                },
                                {
                                    moves: ['n', 's', 'e'],
                                    storyText: ""
                                },
                                {
                                    moves: ['n'],
                                    storyText: ""
                                }
                            ], // column 1
                            [
                                {},
                                {
                                    moves: ['w', 'e'],
                                    storyText: ""
                                },
                                {}
                            ], // column 2
                            [
                                {
                                    moves: ['s'],
                                    storyText: ""
                                },
                                {
                                    moves: ['n', 's', 'w'],
                                    storyText: ""
                                },
                                {
                                    moves: ['n'],
                                    storyText: ""
                                }
                            ] // column 3
                        ];


                        var callbacks = {
                            'updateFeedback': function(obj) {
                                // echo to feedback console
                                $scope.feedbackText = obj.feedback;
                            },
                            'move': function(obj) {
                                switch (obj.args.direction) {
                                    case "forward":
                                        var rules = $scope.mapLayout[$scope.coordinates[0]][$scope.coordinates[1]].moves;

                                        // Map-Edge Collisions
                                        if (rules.indexOf($scope.compass) > -1) {
                                            callbacks.updateFeedback(obj);

                                            // Boundary Conditions on Incrementor
                                            switch ($scope.compass) {
                                                case "n":
                                                    if ($scope.coordinates[1] < $scope.gridsize && $scope.coordinates[1] > -1) {
                                                        $scope.coordinates[1]++;
                                                    }
                                                    break;
                                                case "e":
                                                    if ($scope.coordinates[0] < $scope.gridsize && $scope.coordinates[0] > -1) {
                                                        $scope.coordinates[0]++;
                                                    }
                                                    break;
                                                case "s":
                                                    if ($scope.coordinates[1] <= $scope.gridsize  && $scope.coordinates[1] > 0) {
                                                        $scope.coordinates[1]--;
                                                    }
                                                    break;
                                                case "w":
                                                    if ($scope.coordinates[0] <= $scope.gridsize  && $scope.coordinates[0] > 0) {
                                                        $scope.coordinates[0]--;
                                                    }
                                                    break;
                                            }
                                        } else {
                                            callbacks.updateFeedback({feedback: constants.collision });
                                        }

                                        break;
                                    case "left":
                                        var currentCompassIndex = $scope.compassOptions.indexOf($scope.compass);
                                        currentCompassIndex--;
                                        if (currentCompassIndex < 0) {
                                            currentCompassIndex = $scope.compassOptions.length-1;
                                        }
                                        $scope.compass = $scope.compassOptions[currentCompassIndex];
                                        callbacks.updateFeedback(obj);
                                        break;
                                    case "right":
                                        var currentCompassIndex = $scope.compassOptions.indexOf($scope.compass);
                                        currentCompassIndex++;
                                        if (currentCompassIndex === $scope.compassOptions.length) {
                                            currentCompassIndex = 0;
                                        }
                                        $scope.compass = $scope.compassOptions[currentCompassIndex];
                                        callbacks.updateFeedback(obj);
                                        break;
                                }
                            },
                            'search': function(obj) {
                                console.debug("action = '%s'; item = '%s';", obj.callback, obj.args.item);
                                callbacks.updateFeedback(obj);
                            },
                            'timeout': function(obj) {
                                console.debug("action = '%s'; length = '%s';", obj.callback, obj.args.length);
                                callbacks.updateFeedback(obj);
                            }
                        };

                        $scope.context = "map";
                        $scope.selectedObject = null; //$scope.availableItems['0001'];

                        $scope.storyText = "The room is empty except for a rickety ladder near the back.";
                        $scope.actionItems = $scope.actions[$scope.context];
                        $scope.feedbackText = "";

                        $scope.getRandomQuip = function() {
                            var i = Math.floor(Math.random() * quip.length);
                            return quip[i];
                        }

                        $scope.actionDispatch = function(verb) {
                            if (availableActions[verb] && availableActions[verb].context.indexOf($scope.context) > -1) {
                                switch ($scope.context) {
                                    case "item":
                                        var sentence = availableActions[verb].feedback;
                                        var resolve = sentence.replace(/item/gi, $scope.selectedObject.label);
                                        $scope.feedbackText = resolve;
                                        break;

                                    default:
                                        var obj = availableActions[verb];
                                        if (obj.callback) {
                                            callbacks[obj.callback](obj);
                                        }

                                }
                            } else {
                                $scope.feedbackText = $scope.getRandomQuip();
                            }
                        };

                        $scope.say = function(e) {
                            var verb = $scope.commandPrompt;
                            $scope.actionDispatch(verb.toLowerCase());
                            $scope.commandPrompt = "";
                        };


                    }
                ]
            )
        ;
    </script>
</body>
</html>
