<section>
    <div class="outline">
        <div class="location">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td ng-bind="menu.name"></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <party-list-directive partydata="partyData"></party-list-directive>
    <br>
    <actions-list-directive actions="availableActions"></actions-list-directive>
    <br>
    <saytell-directive
        tells="tells"
        actions="availableActions"
        callback="saveAndNext"
    ></saytell-directive>
</section>