<div class="outline shim">
	<p>Character Sheet</p>
	<hr>
	&nbsp;
	<table width="100%">
		<tr valign="top">
			<td width="25%">
				<b>IDENTITY</b>
				<pre>{{ character.character.identity | json }}</pre>
				<b>ALIGNMENT</b>
				<pre>{{ character.character.alignment | json }}</pre>
				<b>EXPERIENCE</b>
				<pre>{{ character.character.experience | json }}</pre>
			</td>
			<td width="25%">
				<b>STATS</b>
				<pre>{{ character.character.stats | json }}</pre>
				<b>SAVING THROWS</b>
				<pre>{{ character.character.savingThrows | json }}</pre>
			</td>
			<td width="25%">
				<b>ABILITIES</b>
				<pre>{{ character.character.abilities | json }}</pre>
			</td>
			<td width="25%">
				<b>INVENTORY</b>
				<pre>{{ character.character.inventory | json }}</pre>
			</td>
		</tr>
	</table>
</div>