<div class="outline shim">
	Character Sheet
	<table width="100%">
		<tr valign="top">
			<td width="25%">
				<h3>IDENTITY</h3>
				<pre>{{ character.character.identity | json }}</pre>
				<h3>ALIGNMENT</h3>
				<pre>{{ character.character.alignment | json }}</pre>
				<h3>EXPERIENCE</h3>
				<pre>{{ character.character.experience | json }}</pre>
			</td>
			<td width="25%">
				<h3>STATS</h3>
				<pre>{{ character.character.stats | json }}</pre>
				<h3>SAVING THROWS</h3>
				<pre>{{ character.character.savingThrows | json }}</pre>
			</td>
			<td width="25%">
				<h3>ABILITIES</h3>
				<pre>{{ character.character.abilities | json }}</pre>
			</td>
			<td width="25%">
				<h3>INVENTORY</h3>
				<pre>{{ character.character.inventory | json }}</pre>
			</td>
		</tr>
	</table>
</div>