    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <div class="shim">
                    <ul class="vert-list">
                        <li ng-repeat="tell in tells track by $index" ng-bind="tell"></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="topline shim" valign="top">
                <form ng-submit="say()">
                    &gt; <input type="text" name="commandPrompt" id="commandPrompt" ng-model="prompt" autofocus autocomplete="off"/>
                </form>
            </td>
        </tr>
    </table>