<table width="100%">
    <thead>
        <tr align="center">
            <td width="15">#</td>
            <td align="left" width="">NAME</td>
            <td width="80">LEVEL</td>
            <td width="80">RACE</td>
            <td width="80">CLASS</td>
            <td width="80">HP</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in partydata" align="center">
            <td ng-bind="$index + 1"></td>
            <td align="left" ng-bind="player.character.identity.name"></td>
            <td ng-bind="player.character.experience.level"></td>
            <td ng-bind="player.character.identity.race"></td>
            <td ng-bind="player.character.identity.class"></td>
            <td ng-bind="player.character.stats.health"></td>
        </tr>
    </tbody>
</table>