<table width="100%" cellpadding="0" cellspacing="0">
        <tr align="center">
            <th width="20">#</th>
            <th align="left" width="">NAME</th>
            <th width="80">LEVEL</th>
            <th width="120">RACE</th>
            <th width="120">CLASS</th>
            <th width="80">ENERGY</th>
            <th width="80">HEALTH</th>
            <th width="80">STATUS</th>
        </tr>
        <tr ng-repeat="player in partydata" align="center">
            <td ng-bind="$index + 1"></td>
            <td align="left" ng-bind="player.character.identity.name"></td>
            <td ng-bind="player.character.experience.level"></td>
            <td ng-bind="player.character.identity.race"></td>
            <td ng-bind="player.character.identity.spec"></td>
            <td>{{ player.character.stats.energy }} / {{ player.character.stats.maxenergy }}</td>
            <td>{{ player.character.stats.health }} / {{ player.character.stats.maxhealth }}</td>
            <td ng-bind="player.character.status" ng-class="{deadplayer: player.character.status ==='dead'}"></td>
        </tr>
</table>