    <section>
        <div class="outline">
            <div class="location">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td ng-bind="page.name"></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="outline" width="500" height="300" valign="middle" align="center" rowspan="2">
                    [ COMBAT MODE ]
                </td>
                <td class="outline shim" valign="top" height="120">
                    <div class="flex-list">
                        <party-list-directive partydata="mobData"></party-list-directive>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="outline shim" valign="top" height="120">
                    <div class="flex-list">
                        <actions-list-directive actions="availableActions"></actions-list-directive>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div class="outline">
            <div class="shim">
                <party-list-directive partydata="partyData"></party-list-directive>
            </div>
        </div>
        <br>
        <div class="outline">
            <saytell-directive tells="tells" actions="availableActions" callback="saveAndNext"></saytell-directive>
        </div>
    </section>