    <section>
        <div class="outline">
            <div class="location">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="50%" ng-bind="page.name"></td>
                        <td width="50%" align="right">
                            <span ng-bind="page.turn + 1"></span>,
                            <span ng-bind="page.who"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="outline" width="500" height="300" valign="middle" align="center" rowspan="2">
                    <img src="/images/combat.png" height="290" width="290">
                </td>
                <td class="outline shim" valign="top" height="120">
                    <div class="flex-list">
                        <party-list-directive partydata="mobData" ismob="true"></party-list-directive>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="outline shim" valign="top" height="120">
                    <div class="flex-list">
                        <actions-list-directive actions="availableActions"></actions-list-directive>
                    </div>
                </td>
            </tr>
        </table>
        <br>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr valign="top">
						<td width="15%" class="outline shim">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr align="center">
									<th colspan="2">
										<span>party level</span>
									</th>
								<tr>
								<tr align="center">
									<td colspan="2">
										<span class="party-level">1</span>
									</td>
								<tr>
							</table>
						</td>
						<td class="outline shim">
							<party-list-directive partydata="partyData"></party-list-directive>
						</td>
					</tr>
				</table>
        <br>
        <div class="outline">
            <saytell-directive tells="tells" actions="availableActions" callback="saveAndNext"></saytell-directive>
        </div>
    </section>