body {
    background-color: black;
    font-family: monospace;
}

section {
    width: 960px;
    margin: 20px auto;
}

svg {
    background-color: black;
}
svg polygon {
    fill: black;
    stroke: white;
    stroke-width: 2px;
    shape-rendering:crispEdges;
}

svg rect { 
    stroke: black; 
    shape-rendering:crispEdges; 
}

svg line { 
    stroke: black; 
    shape-rendering:crispEdges; 
}

svg text { 
    fill: white; 
}

.outline {
    color: white;
    border: 1px solid white;
}

.shim {
    min-height: 138px;
    padding: .5em;
}
.location {
    padding: .5em;
}


.actions,
.navigator {
    text-transform: uppercase;
}

#commandPrompt {
    background-color: black;
    color: white;
    width: 96%;
    line-height: 2em;
}

.n, .e, .s, .w {
    border: 1px solid white;
    height: 2em;
    width: 2em;
}

.n { border-top: none; }
.e { border-right: none; }
.s { border-bottom: none; }
.w { border-left: none; }

.selected { background-color: white; }


ul.flex-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.flex-list li
{
    display: inline-block;
    padding: 0 2em 1em 0;
}

ul.vert-list {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

ul.vert-list li
{
    padding: 0 2em 1em 0;
}

#minimap .floor {
    stroke-opacity: 0.1;
    stroke-width: 1px;
    stroke: black;
    fill: white;
}

#minimap .wall {
    stroke-opacity: 0.1;
    stroke-width: 1px;
    stroke: white;
    fill: none;
}
