body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
}

section {
    width: 1080px;
    margin: 2em auto;
}

svg {
    background-color: black;
}

svg polygon {
    fill: black;
    stroke: white;
    stroke-width: 1px;
    shape-rendering: auto;
}

svg rect {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: auto;
}

svg line {
    stroke: black;
    stroke-width: 2px;
    shape-rendering: auto;
}

svg text {
    fill: white;
}

th {
    padding-bottom: .5em;
}

ul {
    padding: 0;
    margin: 0;
}

label {
    padding-left: 0.5em;
}

pre {
    font-size: 75%;
}

b {
    background-color: white;
    color: black;
}

.outline {
    color: white;
    border: 1px solid white;
}

.prompt {
    color: white;
    border-top: 1px solid white;
}

.table-header {
    font-weight: bold;
}

.deadplayer {
    background-color: dimgray;
    color: black;
    font-weight: bold;
}

.shim {
    min-height: 6em;
    padding: 1em;
}

.location {
    padding: 0.5em;
    font-weight: bold;
}

.flex-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex-list li {
    display: inline-block;
    padding: 0 2em 1em 0;
    width: 25%;
}

.vert-list ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.vert-list li {
    padding: 0 2em 1em 0;
}

#commandPrompt {
    background-color: black;
    color: white;
    width: 90%;
    line-height: 2em;
    margin-top: 0.4em;
    margin: 1em 0.5em;
}

#minimap .floor {
    stroke-opacity: 0.1;
    stroke-width: 1px;
    stroke: black;
    fill: white;
}

#minimap .wall {
    stroke-opacity: 0.1;
    stroke-width: 1px;
    fill: none;
}

#minimap .arch {
    stroke: white;
    fill: white;
}

#minimap polygon {
    stroke: none;
}
