<section>
    <div class="outline">
        <div class="location">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td ng-bind="map.zone.name"></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="outline">
        <div class="shim">
            <table width="100%">
                <thead>
                    <tr>
                        <td width="15">#</td>
                        <td width="">Character Name</td>
                        <td width="160">Class</td>
                        <td width="160">HP</td>
                        <td width="50">Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="character in partyData">
                        <td width="15" ng-bind="$index + 1"></td>
                        <td width="" ng-bind="character.name"></td>
                        <td width="80" ng-bind="character.type"></td>
                        <td width="160" ng-bind="character.health"></td>
                        <td width="50" ng-bind="character.status"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <actions-list-directive
        actions="availableActions"
    >
    </actions-list-directive>
    <br>
    <saytell-directive
        tells="tells"
        actions="availableActions"
        callback="saveAndNext"
    ></saytell-directive>
</section>