<section>
    <div class="outline">
        <summary ng-show="gameModuleSelected === 'zombies'" class="shim">
            <p>
                Was it a meteor? The recent return of a satellite from Venus?
                Or a mutated version of Mad Cow disease?
            </p>

            <p>
                Who can say? For all the so-called experts are dead.
                For now, in this time, in this land, the dead - have returned, and walk the earth.
            </p>
        </summary>
    </div>
    <br>
    <actions-list-directive
        tells="tells"
        prompt="prompt"
        say="say"
    ></actions-list-directive>
</section>